<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <h1 class="text-center">Voici Toute les dépenses:</h1>
  
  <% data.forEach((data) => {  %>
  <div >
   
      <h5 ><%= data.date %></h5>
      <h6 > <%= data.montant %></h6>
      <p ><%= data.remarque %> </p>
      <a href="/spend/<%= data._id %>" >Editer la donnée</a>
     
      <form action="/spend/delete/<%= data.id %>?_method=DELETE" method="post">
    
          <input type="hidden" name="_method" value="DELETE">
            <button type="submit" >Supprimer la dépense</button>
        </form>
   
  </div>
  <%}); %>


<!--

    <section>
        
        <%#= data %>
        
        <hr>
    </section>
--> 
</body>
</html>